aiofiles
aiohappyeyeballs
aiohttp
aiosignal
appdirs
attrs
certifi
charset-normalizer
frozenlist
idna
lxml
multidict
propcache
PySide6
PySide6_Addons
PySide6_Essentials
PySide6-Fluent-Widgets
requests
scrapetube
shiboken6
typing_extensions
urllib3
webvtt-py
yarl
youtube_transcript_api
yt-dlp
